@import (reference) '../bower_components/bootstrap/less/bootstrap.less';

body {
    background-color: black;
    background-image: url('/images/blog-hemoglobin.png');
    background-repeat: no-repeat;
    background-position: right top;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#home {
    .row();
    .post-excerpt {
	.panel;
	.panel-default;
	.panel-heading h2 {
	    display: block;
	    font-size: 14pt;
	    margin: 10px 0px;
	}
	img {
	    .img-responsive();
	}
    }
}

.header {
    .row();
    .logo {
	.make-md-column(6);
	font-size: 30px;
	margin: 10px 0px;
	img {
	    width: 250px;
	}
    }
}

.social-icons {
    li a {
	padding: 4px;
	&:hover {
	    padding: 0px;
	    img {
		width: 48px;
	    }
	}
    }
    img {
	width: 40px;
    }
    @media (min-width: @screen-sm-min) {
	.icon-label {
	    display: none;
	}
    }
}

.sidebar-box {
    .panel;
    .panel-default;
    img {
	.img-responsive();
    }
}

/* Social media share buttons */
.panel-footer,.panel-heading {
    @media (min-width: @screen-md-min) {
	.share-buttons {
	    .opacity(0.35);
	}
	&:hover .share-buttons {
	    .opacity(1);
	}
    }
}
.btn-share {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    margin-right: 7px;
}
.btn-share-twitter {
    .btn-share;
    padding-top: 3px;
}
.btn-share-gplus {
    .btn-share;
    padding-top: 3px;
}
.btn-share-reddit {
    .btn-share;
    padding-top: 5px;
}

#category-list {
    .panel;
    .panel-default;
}

.full-post {
    .panel;
    .panel-default;
    .panel-heading {
	h2 {
	    margin-top: 10px;
	}
    }
    .post-body {
	p {text-align: justify;}
	img {
	    .img-responsive();
	}
    }
}

ol.footnotes {
    list-style-type: lower-alpha;
}

.caption {
    font-size: 80%;
}

.comments {
    .panel;
    .panel-default;
}

.category {
    text-transform: capitalize;
}
.category-tag {
    .label;
    .label-default;
    .category;
}

.main-panel {
    .make-md-column(9);
}

.side-panel {
    .make-md-column(3);
}

/* Printable version */
@media print{
    h2 {
	color: red
    }
}
