// Import SCSS from bootstrap
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";

$card-margin: 15px;

body {
    background-color: black;
    background-image: url('/static/blog-hemoglobin.png');
    background-repeat: no-repeat;
    background-position: right top;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

// #home {
//     @include make-row();
//     .post-excerpt {
// 	@extend .card;
// 	.card-heading h2 {
// 	    display: block;
// 	    font-size: 14pt;
// 	    margin: 10px 0px;
// 	}
// 	img {
// 	    @extent .img-fluid;
// 	}
//     }
// }

.header {
    margin: 10px 0px;
    .logo {
	font-size: 30px;
	img {
	    width: 250px;
	}
    }
}

.social-icons {
    img {
	width: 40px;
    }
    li a {
	display: inline-block;
	&:hover {
	    margin: -4px;
	    margin-top: -4px;
	    margin-bottom: -4px;
	    img {
		width: 48px;
	    }
	}
	@include media-breakpoint-up(md) {
	    .icon-label {
		display: none;
	    }
	}
    }
}

.sidebar-box {
    margin-bottom: 15px;
    margin-top: 15px;
    @extend .card;
    img {
	@extend .img-fluid;
    }
}

/* Social media share buttons */
.card-footer,.card-heading {
    @include media-breakpoint-up(md) {
	.share-buttons {
	    opacity: 0.35;
	}
	&:hover .share-buttons {
	    opacity: 1;
	}
    }
}
.btn-share {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    margin-right: 7px;
}
.btn-share-twitter {
    @extend .btn-share;
    padding-top: 3px;
}
.btn-share-gplus {
    @extend .btn-share;
    padding-top: 3px;
}
.btn-share-reddit {
    @extend .btn-share;
    padding-top: 5px;
}

#category-list {
    @extend .card;
}

.blog-post {
    @extend .card;
    margin-top: 15px;
    margin-bottom: 15px;
    .card-header {
	h2 {
	    margin-top: 10px;
	}
    }
    .post-body {
	p {text-align: justify;}
	img {
	    @extend .img-fluid;
	}
    }
}

ol.footnotes {
    list-style-type: lower-alpha;
}

.caption {
    font-size: 80%;
}

.meta {
    font-size: 80%;
    font-style: italic;
    margin-bottom: 0px;
}

.comments {
    @extend .card;
}

.category {
    text-transform: capitalize;
}
.category-tag {
    @extend .badge;
    @extend .badge-secondary;;
    @extend .category;
}

.page-content {
    background-color: white;
    margin-top: $card-margin;
    padding: $card-margin;
}

.main-panel {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
	@include make-col(8);
    }
}

.side-panel {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
	@include make-col(4);
    }
}
