---
layout: default
commentcount: true
---

<div id="home">

  {% for post in site.posts %}
  <div class="post-excerpt">
    <div class="panel-heading">
      <h2 class="panel-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <span>
	{{ post.date | date_to_string }}
	{% for category in post.categories %}
	<a href="/categories.html#{{ category }}" title="View all '{{ category }}' posts">
	  <span class="category-tag">{{ category }}</span>
	</a>
	{% endfor %}
      </span>
      <a href="{{ post.url }}#disqus_thread">Comments</a>
    </div>
    <div class="panel-body">
      {{ post.excerpt }}
      <p>
	<a href="{{ post.url }}" title="Read full post: {{ post.title }}">
	  Read more...</a>
      </p>
    </div>
    <div class="panel-footer">
      {% include share-buttons.html %}
    </div>
  </div>
  {% endfor %}
</div>

<!-- Display comment count for each post -->
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'magicacid'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
