{% from "macros/share_buttons.html" import add_share_buttons %}

{% macro render_blog_post(post, from_index=false) %}
<div class="blog-post">
  <div class="card-header">
    {% if from_index %}
    <h3><a href="{{ post|url }}">{{ post.title }}</a></h3>
    {% else %}
    <h2>{{ post.title }}</h2>
    {% endif %}
    <p class="meta">
      by {% if post.twitter_handle %}
      <a href="https://twitter.com/{{ post.twitter_handle
               }}">{{ post.author or post.twitter_handle }}</a>
      {% else %}
      {{ post.author }}
      {% endif %}
      on {{ post.pub_date }}
    </p>
    {% if not from_index %}
      {{ add_share_buttons(post) }}
    {% endif %}
  </div>
  <div class="post-body">
    {% if from_index %}
    {{ post.body|excerpt('<!-- more -->') }}
    <p>
      <a href="{{ post|url }}" title="Read full post">read more...</a>
    </p>

    {% else %}
    {{ post.body }}
    {% endif %}

    {% if not from_index and post.comments %}
    <hr />
    {% include 'comments.html' %}
    {% endif %}
  </div>

  
  <div class="card-footer">
    {% if from_index %}
    {{ add_share_buttons(post) }}
    {% endif %}
  </div>
</div>
{% endmacro %}
