<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/solid.css"
	  integrity="sha384-wnAC7ln+XN0UKdcPvJvtqIH3jOjs9pnKnq9qX68ImXvOGz2JuFoEiCjT8jyZQX2z"
	  crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
	  integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6"
	  crossorigin="anonymous">

    <link rel="stylesheet" href="{{ '/static/gen/styles.css'|asseturl }}" />

    <title>{% block title %}Welcome{% endblock %} — magicacid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon"
	  href="{{ '/static/favicon.png'|asseturl }}" />

    {% if site.analytics == true %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51287352-1', 'magicacid.com');
      ga('send', 'pageview');

    </script>
    {% endif %}

    <!-- Facebook integration -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1514043182149496&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

  </head>

  <body>
    <div class="container">
      <div class="header">
      	<div class="logo">
      	  <a href="/">
      	    <img src="{{ '/static/logo.png'|asseturl }}" /></a>
      	</div>
      </div>

      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<a class="navbar-brand" href="/"><img src="{{ '/static/favicon.png'|asseturl }}" />agic Acid</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
	  <ul class="navbar-nav mr-auto">
	    <li class="nav-item{% if '/blog/' in (this|url) %} active{% endif %}">
	      <a class="nav-link" href="/blog/"><i class="fas fa-paragraph"></i> Blog<span class="sr-only">(current)</span></a>
	    </li>
	    <li class="nav-item">
	      <a href="/resume/" class="nav-link"
		 title="View my resume and curriculum vitae">
		<i class="fas fa-file"></i> Resume/CV</a>
	    </li>
	    <!-- <li class="nav-item"> -->
	    <!--   <a href="/categories.html" class="nav-link" -->
	    <!-- 	 title="Navigate to list of categories"><i class="fas fa-list-ul"></i> Categories</a> -->
	    <!-- </li> -->
	    <!-- <li class="nav-item"> -->
	    <!--   <a href="/about.html" class="nav-link" title="Learn more about this blog"> -->
	    <!-- 	  About</a></li> -->
	  </ul>
	  <ul class="navbar-nav social-icons">
	    <!-- RSS Icon -->
	      <li class="nav-item">
		<a href="/feed.xml" title="RSS feed for the blog" class="nav-link">
		  <img src="{{ '/static/social-icons/rss_48.png'|asseturl }}" alt="RSS Icon" />
		  <span class="icon-label">RSS Feed</span>
		</a>
	      </li>
	      <!-- Facebook icon -->
	      <li class="nav-item">
		<a href="https://www.facebook.com/m3wolf"
		   title="Facebook page" class="nav-link">
		  <img src="{{ '/static/social-icons/facebook_48.png'|asseturl }}"
		       alt="Facebook Icon" />
		  <span class="icon-label">Visit me on Facebook</span>
		</a>
	      </li>
	      <!-- <\!-- Twitter icon -\-> -->
	      <li class="nav-item">
	      	<a href="https://www.twitter.com/m3wolf"
	      	   title="Twitter feed" class="nav-link">
	      	  <img src="{{ '/static/social-icons/twitter_48.png'|asseturl }}"
	      	       alt="Twitter Icon" />
	      	  <span class="icon-label">View the Twitter feed</span>
	      	</a>
	      </li>

	      <!-- E-mail icon -->
	      <li class="nav-item">
		<a href="mailto:{{ site.email }}"
		   title="E-mail me" class="nav-link">
		  <img src="{{ '/static/social-icons/mail_48.png'|asseturl }}"
		       alt="E-mail Icon" />
		  <span class="icon-label">E-mail me</span>
		</a>
	      </li>
	  </ul>
	</div>
      </nav>

      {% block body %}{% endblock %}

      <div class="footer">
	<p class="lektor">
	  Built with <a href="https://www.getlektor.com/" title="Lektor home page">
	    Lektor</a>.
	</p>
	<p class="copyright">
	  Copyright &copy; 2018 Mark Wolfman. All rights
	  reserved.
	</p>
      </div><!-- /.footer -->
    </div><!-- /.container -->

    <!-- Javascript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
	    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    	    crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"
	    integrity="sha256-VsEqElsCHSGmnmHXGQzvoWjWwoznFSZc6hs7ARLRacQ=" crossorigin="anonymous"></script>
  </body>
</html>
